Before

<div class="container text-center mt-3">
	<form>
		<div class="form-group row">
			<div data-mdb-input-init class="form-outline col-md-3">
				<input type="text" id="form3Example1" class="form-control" />
			</div>
		</div>
		<label class="form-label" for="form3Example1">First name</label>
		<!-- Email input -->
		<div class="form-group row">
			<div data-mdb-input-init class="form-outline mb-4 col-md-5">
			<input type="email" id="form3Example3" class="form-control" />
			</div>
		</div>
		<label class="form-label" for="form3Example3">Email address</label>

		<div class="container">
			<!-- Submit button -->
			<button data-mdb-ripple-init type="button" class="btn btn-primary btn-sm mb-4">Sign up</button>
		</div>
	</form>
</div>


AFter

<div class="container mt-3">
    <form>
  
      <div class="mb-3">
        <label for="form3Example1" class="form-label">First name</label>
        <input type="text" id="form3Example1" class="form-control">
      </div>
  
      <div class="mb-3">
        <label for="form3Example3" class="form-label">Email address</label>
        <input type="email" id="form3Example3" class="form-control">
      </div>
  
      <button type="button" class="btn btn-primary btn-sm">Sign up</button>
  
    </form>
  </div>