<nav class="navbar navbar-expand-lg navbar-custom ">
    <div class="container-fluid">
      <%= link_to "Stories", root_path, class: "navbar-brand fw-semibold" %>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signups/new">Sign Up</a>
        </li>

      </ul>
    </div>

    </div>
</nav>
