<div class="menu" style="left: -240px">
  <ul>
    <li> <a href="/">Home </a> </li>
    <li> <a href="/about">About </a> </li>
    <li> <a href="/signups/new">Contact </a> </li>
  </ul>
  <img class="icon-close" src="/assets/delete30.svg" width="24px">
</div>

<div class="about-main">
  <img alt="Open" class="icon-menu" src="/assets/menu51.svg" width="24px">
  <div class="content container">
    <h1>Relive your favourite memories</h1>
  </div>
</div>

<div class="about-supporting">
  <div class="container">
    <h2>No more sorting through photos</h2>
    <p>Stories automatically finds your best photos and creates a new travelogue.  This way you can capture and share your special moments in fresh new ways</p>
    <p>
      <a class="btn" href="/signups/new">Sign Up</a>
    </p>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p>A Monkee45 Project</p>
  </div>
</div>
