<div class="menu" style="left: -240px">
  <ul>
    <li> <a href="/">Home </a> </li>
    <li> <a href="/about">About </a> </li>
    <li> <a href="/signups/new">Contact </a> </li>
  </ul>
  <img class="icon-close" src="/assets/delete30.svg" width="24px">
</div>

<div class="contact-main">
  <img alt="Open" class="icon-menu" src="/assets/menu51.svg" width="24px">
  <div class="content container">
    <div class="row">
      <h1>Thanks.  We'll be in touch</h1>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <p>A Monkee45 Project</p>
  </div>
</div>
